<!-- ************************************************************ -->
<!-- *********************** Main Section *********************** -->
<!-- ************************************************************ -->


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">About Us</h1>
                            <p>Why our Clients love working with us.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                <%= image_tag('aboutus/aboutus.jpg', class: 'img-responsive', alt: 'About Us Pictures') %>
                </div>
                <div class="col-sm-6 about-para">
                    <p>After years of research on the relationship between disease and the environment, it became clear to us that finding natural and affordable solutions to addressing malnutrition and disease was essential in developing countries. So we decided to do something about it.
                    <br><br>
                    We created a company that takes some of the world’s most nutritious foods and manufacture affordable food supplements for the general population – and offer a great income opportunity at the same time. By doing so, we create jobs in manufacturing and agriculture/farming.
                    <br><br>
                    So many people in Africa have become reliant on AID from foreign countries which inadvertently creates dependence and disempowerment. Africans are ready to support Africa and are beginning to understand the richness of their land and their agricultural power. By taking control of the land and the products we grow, we can learn to take care of our own and rely less and less of foreign AID.
                    <br><br>
                    Alive Nutrition empowers local economies and creates sustainable independence among the African people. Alive Nutrition is a company from the African people.</p>
                </div>
            </div>

        </div>
    </section>


<!-- ****************************************************** -->
<!-- *********************** Badges *********************** -->
<!-- ****************************************************** -->


    <section id="services">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn organic-badge" data-wow-duration="500ms" data-wow-delay="300ms">
                        </div>
                        <h2>Naturally Organic</h2>
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn premium-badge" data-wow-duration="500ms" data-wow-delay="600ms">
                        </div>
                        <h2>Premium Quality</h2>
                        <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn veg-badge" data-wow-duration="500ms" data-wow-delay="900ms">
                        </div>
                        <h2>100% Vegetarian</h2>
                        <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#about us-->