<!-- ******************************************************************** -->
<!-- *********************** Footer - Testimonies *********************** -->
<!-- ******************************************************************** -->


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <hr>
                    <a name="contact"></a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2>Testimonials</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#">
                                  <%= image_tag('home/person1.png', alt: 'Testimonials-Image', class: 'home-review') %>
                                </a>
                            </div>
                            <div class="media-body">
                                <blockquote>Ultra Immune<sup>®</sup> completely turned my health around. I used to get sick often, not any more.</blockquote>
                                <h3><strong class="red-font">- Jhon Kalis</strong></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#">
                                <%= image_tag('home/person2.png', alt: 'Testimonials-Image', class: 'home-review') %>
                                </a>
                            </div>
                            <div class="media-body">
                                <blockquote>During my pregnancy Ultra Immune<sup>®</sup> kept me and my baby healthy. I still take it to keep my immunity strong.</blockquote>
                                <h3><strong class="red-font">- Susie Josef</strong></h3>
                            </div>
                        </div>   
                    </div> 
                </div>


<!-- **************************************************************** -->
<!-- *********************** Footer - Contact *********************** -->
<!-- **************************************************************** -->


                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:bholmes.bomgi@gmail.com">info@alivenutrition.com</a><br> 
                        Phone: +1 (256) 000 000 <br> 
                        Phone: +1 (256) 000 000 <br> 
                        </address>

                        <h2>Address</h2>
                        <address>
                        Unit C2, St.Vincent's Tower <br> 
                        Bugalobi Road<br> 
                        Kampala Uganda<br> 
                        
                        <br><br>
                        PO Box 9000<br> 
                        Cape Town Road<br> 
                        Mauritian Islands<br> 
                        </address>
                    </div>
                </div>


<!-- ******************************************************************* -->
<!-- *********************** Footer Contact Form *********************** -->
<!-- ******************************************************************* -->


                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Send us a message</h2>
                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                            </div>                        
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="SEND">
                            </div>
                        </form>
                    </div>
                </div>


<!-- ******************************************************************** -->
<!-- *********************** Footer - Legal Stuff *********************** -->
<!-- ******************************************************************** -->


                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; 2016 <strong>Alive Nutraceuticals Ltd.</strong> <em>All Rights Reserved.</em></p>
                        <p class="small">SelenoExcell<sup>®</sup> Selenium is a registered trademark of Cypress Systems Inc.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->